@{
    ViewData["Title"] = "Home Page";
}

<v-row v-for="makeup in makeups" class="d-flex justify-center">
    <v-col cols="12" md="8" lg="6" xl="4">
        <v-card width="100%">
            <v-img height="200px"
                   src="https://cdn.vuetifyjs.com/docs/images/cards/purple-flowers.jpg">
                <v-app-bar flat
                           color="rgba(0, 0, 0, 0)">
                    <v-toolbar-title class="text-h6 white--text pl-0">
                        {{makeup.name}}
                    </v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn color="white"
                           icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </v-app-bar>
            </v-img>

            <v-card-text>
                <v-timeline align-top>
                    <v-timeline-item v-for="step in makeup.steps"
                                     :key="step"
                                     :color="step.color"
                                     icon="mdi-edit"
                                     small>
                        <div>
                            <div class="font-weight-normal">
                                <strong>{{ step.name }}</strong>
                            </div>
                            <div>{{ step.description }}</div>
                        </div>
                    </v-timeline-item>
                </v-timeline>
            </v-card-text>
        </v-card>
    </v-col>
</v-row>


@section Scripts {
    <script src="~/js/home.js"></script>
}